._ContainerAuth{
    display: flex;
    justify-content: center;
    align-items: center;
}
.leftContainer{
    width: 70%;
    height: calc(100vh - 64px);
    background-color: lightgray;
    overflow: auto;
}
.rightContainer{
    width: 30%;
    height: calc(100vh - 64px);
    background-color: lightslategrey;
    padding:20px;
}